In [4]:
import pandas as pd

from sqlalchemy import create_engine

In [5]:
# Connect to sqlite db
db_file = r'database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [6]:
#find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [10]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM BoardGames;"
sales_data_df = pd.read_sql(sql, engine)

In [13]:
print("The number of ROWS and COLUMNS for BoardGames is:")
sales_data_df.shape

The number of ROWS and COLUMNS for BoardGames is:

(90400, 81)

In [17]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM 'bgg.ldaOut.topics'"
sales_data_df = pd.read_sql(sql, engine)
print("The number of ROWS and COLUMNS for bgg.ldaOut.topics is:")
sales_data_df.shape

The number of ROWS and COLUMNS for bgg.ldaOut.topics is:

(29229, 2)

In [18]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM 'bgg.ldaOut.top.terms'"
sales_data_df = pd.read_sql(sql, engine)
print("The number of ROWS and COLUMNS for bgg.ldaOut.top.terms is:")
sales_data_df.shape

The number of ROWS and COLUMNS for bgg.ldaOut.top.terms is:

(250, 4)

In [19]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM 'bgg.ldaOut.top.documents'"
sales_data_df = pd.read_sql(sql, engine)
print("The number of ROWS and COLUMNS for bgg.ldaOut.top.documents is:")
sales_data_df.shape

The number of ROWS and COLUMNS for bgg.ldaOut.top.documents is:

(288, 4)

In [20]:
#get all the rows from the "test" table in the database
sql = "SELECT * FROM 'bgg.topics'"
sales_data_df = pd.read_sql(sql, engine)
print("The number of ROWS and COLUMNS for bgg.topics is:")
sales_data_df.shape

The number of ROWS and COLUMNS for bgg.topics is:

(29313, 74)